*{
    padding: 0;
    border: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  color: #212529;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600; 
}
.text-shadow {
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}

